<div *ngIf="isLoading" class="center">
  <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="data" class="container mt-4" [ngClass]="{ transparent: isLoading }">
  <h1 class="font-weight-bold text-center">Frequently Asked Questions</h1>
  <mat-accordion *ngFor="let faq of data; let i=index">
    <mat-expansion-panel style="margin-bottom: 1rem;" class="font-weight-bold" (click)="onFaqClick(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ faq.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="faqArray[i]" class="faq-answer">
        <div *ngFor="let answer of faq.body">
          <h4 class="font-weight-bold" *ngIf="answer.tag === 'header'">{{ answer.element }}</h4>
          <p *ngIf="answer.tag === 'paragraph'">{{ answer.element }}</p>
          <li *ngIf="answer.tag === 'listItem'">{{ answer.element }}</li>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div  *ngIf="errorMessage">
  <p class="error-message">{{ errorMessage }}</p>
</div>
